<!DOCTYPE html>
<html>
  <head>
    <title>Kanslaostochkarlek</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
    <%= render 'layouts/header' %>
    <% end %>
    <% flash.each do |message_type, message| %>
    <script>
      Messenger().post({
        message: '<%= message %>',
        hideAfter: 3,
        hideOnNavigate: true
      });
    </script>
    <% end %>
    <main>
      <% if logged_in? %>
      <div class="main">
      <%= yield %>
      </div>
      <% else %>
      <%= yield %>
      <% end %>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
